#BOTS
BotNewStart/

#sensitive properties
src/main/resources/application.properties
src/main/resources/finalbot.properties
src/main/resources/BotNewStart.properties

# Compiled class file
*.class

# Log file
*.log
log/

#maven
target/



# eclipse project file
.settings/
.classpath
.project

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#git rm -r --cached .
#git add .
#git commit -m "fixed untracked files"